.container {
    font-family: "Arial", sans-serif;
    max-width: 400px;
    margin: 100px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    color: #002a5c; /* UofT Blue */
  }
  
  .title {
    font-size: 24px;
    margin-bottom: 20px;
    color: #002a5c; /* UofT Blue */
  }
  
  .form {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .formGroup {
    text-align: left;
  }
  
  .label {
    font-size: 16px;
  }
  
  .input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .button {
    background-color: #ff9900; /* AWS Banana Yellow */
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .button:hover {
    background-color: #cc7a00;
  }
  
  .error {
    color: red;
    font-size: 14px;
    margin-top: 10px;
  }
  