.container {
    font-family: "Arial", sans-serif;
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: #002a5c; /* UofT Blue */
  }
  
  .title {
    font-size: 28px;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .subtitle {
    font-size: 22px;
    margin-bottom: 10px;
  }
  
  .paragraph {
    font-size: 16px;
    line-height: 1.6;
  }
  
  .error {
    color: red;
    font-size: 14px;
  }
  
  .bookingList {
    list-style: none;
    padding: 0;
  }
  
  .bookingItem {
    background-color: #eaf4ff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .deleteButton {
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  
  .deleteIcon {
    width: 24px;
    height: 24px;
  }
  
  .backButton {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #ff9900; /* AWS Banana Yellow */
    color: white;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    text-align: center;
  }
  
  .backButton:hover {
    background-color: #cc7a00; /* Darker yellow on hover */
    cursor: pointer;
  }
  